<div class="content">
  <div *ngIf="message" class="alert alert-success">
    {{ message }}
  </div>
  <h1 class="title">List of Flights</h1>
  <div class="create-element-link">
    <button routerLink="/dashboard/flights/create" class="crud-action-button-create">New</button>
  </div>
  <div *ngIf="loading; else listTable">
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
  </div>

  <ng-template #listTable>
    <table class="crud-list-table">
      <thead>
        <th>Id</th>
        <th>Origin Name</th>
        <th>Destination Name</th>
        <th>Price</th>
        <th>Aeroline</th>
        <th></th>
      </thead>
      <tbody>
        <tr *ngFor="let flight of flightPage?.content">
          <td>{{ flight.id }}</td>
          <td>{{ flight.originName }}</td>
          <td>{{ flight.destinationName }}</td>
          <td>{{ flight.price }}</td>
          <td>{{ flight.aeroLine }}</td>
          <td class="crud-action-buttons">
            <button class="crud-action-button-view" [routerLink]="'/dashboard/flights/' + flight.id + '/view'">View</button>
            <button class="crud-action-button-edit" [routerLink]="'/dashboard/flights/' + flight.id + '/edit'">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-template>
  <div class="pagination">
    <dashboard-pagination (onPageChange)="onChangePage($event)" *ngIf="flightPage"
                          [first]="currentPage == 0"
                          [last]="currentPage == flightPage.totalPages - 1"
                          [currentPage]="currentPage"
                          [totalPages]="flightPage.totalPages" />
  </div>
</div>
