<div class="content">
  <a class="back-link" routerLink="/dashboard/flights">&lt; Back</a>

  <h1 class="title">Create Flight</h1>

  <form id="crud-form" [formGroup]="flightForm">
    <div>
      <label for="originLat">Origin latitude</label>
      <input id="originLat" type="number" formControlName="originLat" value="" placeholder="Origin latitude">
      <div *ngIf="isValidField('originLat')" class="validation-errors">
        <span class="crud-form-validation-error">
          {{ getFieldError('originLat') }}
        </span>
      </div>
    </div>
    <div>
      <label for="originLng">Origin longitude</label>
      <input id="originLng" type="number" formControlName="originLng" value="" placeholder="Origin longitude">
      <div *ngIf="isValidField('originLng')" class="validation-errors">
        <span class="crud-form-validation-error">
          {{ getFieldError('originLng') }}
        </span>
      </div>
    </div>
    <div>
      <label for="destinationLat">Destination latitude</label>
      <input id="destinationLat" type="number" formControlName="destinationLat" value="" placeholder="Destination latitude">
      <div *ngIf="isValidField('destinationLat')" class="validation-errors">
        <span class="crud-form-validation-error">
          {{ getFieldError('destinationLat') }}
        </span>
      </div>
    </div>
    <div>
      <label for="destinationLng">Destination longitude</label>
      <input id="destinationLng" type="number" formControlName="destinationLng" value="" placeholder="Destination longitude">
      <div *ngIf="isValidField('destinationLng')" class="validation-errors">
        <span class="crud-form-validation-error">
          {{ getFieldError('destinationLng') }}
        </span>
      </div>
    </div>
    <div>
      <label for="originName">Origin name</label>
      <input id="originName" type="text" formControlName="originName" value="" placeholder="Origin name">
      <div *ngIf="isValidField('originName')" class="validation-errors">
        <span class="crud-form-validation-error">
          {{ getFieldError('originName') }}
        </span>
      </div>
    </div>
    <div>
      <label for="destinationName">Destination name</label>
      <input id="destinationName" type="text" formControlName="destinationName" value="" placeholder="Destination name">
      <div *ngIf="isValidField('destinationName')" class="validation-errors">
        <span class="crud-form-validation-error">
          {{ getFieldError('destinationName') }}
        </span>
      </div>
    </div>
    <div>
      <label for="price">Price</label>
      <input id="price" type="text" formControlName="price" value="" placeholder="Price">
      <div *ngIf="isValidField('price')" class="validation-errors">
        <span class="crud-form-validation-error">
          {{ getFieldError('price') }}
        </span>
      </div>
    </div>
    <div>
      <label for="aeroLine">Aeroline</label>
      <select id="aeroLine" formControlName="aeroLine">
        <option *ngFor="let option of aerolineOptions" [value]="option">
          {{ option }}
        </option>
      </select>
      <div *ngIf="isValidField('aeroLine')" class="validation-errors">
        <span class="crud-form-validation-error">
          {{ getFieldError('aeroLine') }}
        </span>
      </div>
    </div>
    <div>
      <button (click)="onSubmit()">
        Save
      </button>
    </div>
  </form>
</div>
