<div class="content">
  <a class="back-link" routerLink="/dashboard/flights">&lt; Back</a>

  <h1 class="title">Create Flight</h1>

  <form id="crud-form" [formGroup]="flightForm">
    <div>
      <label for="originLat">Origin latitude</label>
      <input id="originLat" type="number" formControlName="originLat" value="" placeholder="Origin latitude">
    </div>
    <div>
      <label for="originLng">Origin longitude</label>
      <input id="originLng" type="number" formControlName="originLng" value="" placeholder="Origin longitude">
    </div>
    <div>
      <label for="destinyLat">Destiny latitude</label>
      <input id="destinyLat" type="number" formControlName="destinyLat" value="" placeholder="Destiny latitude">
    </div>
    <div>
      <label for="destinyLng">Destiny longitude</label>
      <input id="destinyLng" type="number" formControlName="destinyLng" value="" placeholder="Destiny longitude">
    </div>
    <div>
      <label for="originName">Origin name</label>
      <input id="originName" type="text" formControlName="originName" value="" placeholder="Origin name">
    </div>
    <div>
      <label for="destinyName">Destiny name</label>
      <input id="destinyName" type="text" formControlName="destinyName" value="" placeholder="Destiny name">
    </div>
    <div>
      <label for="price">Price</label>
      <input id="price" type="text" formControlName="price" value="" placeholder="Price">
    </div>
    <div>
      <label for="aeroLine">Aeroline</label>
      <select id="aeroLine" formControlName="aeroLine">
        <option *ngFor="let option of aerolineOptions" [value]="option">
          {{ option }}
        </option>
      </select>
    </div>
    <div>
      <button (click)="onSubmit()">
        Save
      </button>
    </div>
  </form>
</div>
