<div class="logo" routerLink="/dashboard">
  <div>Travel <i class="fas fa-solid fa-plane"></i></div>
</div>
<ul>
  <li routerLink="/dashboard/flights" routerLinkActive="active">Flights</li>
  <li routerLink="/dashboard/hotels" routerLinkActive="active">Hotels</li>
  <li routerLink="/dashboard/customers" routerLinkActive="active">Customers</li>
  <li>Tickets</li>
  <li>Reservations</li>
  <li>Tours</li>
  <!-- <li>Widgets<i class="fas fa-chevron-right flecha"></i></li>
  <ul class="subboton">
    <li>Desk</li>
  </ul> -->
</ul>
